<?xml version="1.0" encoding="iso-8859-1"?>
<modules>
    <module>
        <specification>
            <description>
                <name>Options Module</name>
                <version>1.0</version>
                <short>User Options Module</short>
                <long><![CDATA[User Options Main System Module]]></long>
            </description>
        </specification>

        <api name='options-save' type='form' loc='/options/post' method='POST' target='zobject::post' />

        <api type='rest' loc='/api/v2/option/{optionId}'       method='GET'    target='options_api::get_option_by_id' />
        <api type='rest' loc='/api/v2/option/{optionId}'       method='POST'   target='options_api::post_option_by_id' />

        <api type='ajax' loc='/ajax/option'  method='GET'    target='options_api::ajax_get_option' />
        <api type='ajax' loc='/ajax/option'  method='POST'   target='options_api::ajax_post_option' />

        <file id='options' type='php' src='options.php' mode='startup' />
        <file id='options-api' type='php' src='options-api.php' mode='startup' />

        <datasource name='OPTIONS_XML' type='xml' src='options.xml' />
    
        <zobjectdef name="options" key-field="id" index="userid" allow-display="[!]" SOURCE='OPTIONS_XML' action='options-save'>
            <style>
                <caption>Options</caption>
                <class>user-options</class>
                <options addonlist="1" />
            </style>
            <source>def-options</source>
            <action>php:zwpadmin_redirect_url</action>
            <render name="wp-list" type="list" src="templates/zobjects-wp-admin-action-list.xml" />
            <render name="wp-edit" type="edit" src="templates/zobjects-wp-admin-action-edit.xml" />
            <!-- <render name="wp-edit" type="create" src="templates/zobjects-wp-admin-action-create.xml" /> -->
            <xmlfile src="php:options_xml_file" list="/*/option/@id" base="/*/option[@userid='@id']/" />
            <fielddefs>
                <fielddef id="userid" datatype="string" access="@" required="1" allow-edit="[-]" remote="php:zwpadmin_verify_zaction_name" />
                <fielddef id="name" datatype="string" access="@" required="1" remote="php:zwpadmin_verify_zaction_name" />
                <fielddef id="option1" datatype="string" access="@" />
                <fielddef id="option2" datatype="string" access="@" />
                <fielddef id="option3" datatype="string" access="@" />
            </fielddefs>
        </zobjectdef>
    </module>

    <ztabledef name='def-options'>
        <fielddefs>
            <fielddef id='name' datatype='string' access="@" caption='ID' />
        </fielddefs>
    </ztabledef>
</modules>
