<div>
	<h2>Navigation</h2>
	<hr/>
	<linklist id='g-nav-side'/>
	<hr/>
	<br/>
	<h2>Feature</h2>
	<hr/>
<!--	<quickitem src='ad' id='sidebar-ad'></quickitem> -->
	<hr/>
	<br/>
	<h2>Other Portals</h2>
	<hr/>
	<linklist id='g-other'/>
	<hr/>
	<br/>
	<h2>Media</h2>
	<hr/>
	<linklist id='g-media'/>
	<hr/>
	<br/>
	<h2>Other Links</h2>
	<hr/>
	<linklist id='g-links'/>
	<hr/>
	<br/>
	<br/>
	<br/>
       <div style='background-color: #B0B0B0;display:inline-block;width:100%;height:115px;border-style:solid;border-width:2px;border-color:black;padding: 5px 5px 5px 5px;'>
	<span style='font-size:10px;'><LOADTIME></LOADTIME></span><br/>
	<a href="http://my.statcounter.com/project/standard/stats.php?project_id=4602756&amp;guest=1" onMouseDown='this.target="_new"'><img class="statcounter" src="http://c.statcounter.com/4602756/0/a12ab196/0/" alt="site stats" /></a><br/>
	<a title="Map IP Address" href="http://www.ip2map.com" onMouseDown='this.target="_new"'><img alt="Map IP Address" title="Map IP Address" src="http://www.ip2map.com/ip2map.gif" width='90' height="30	"/></a><br/>
	<a href="http://validator.w3.org/check/referer" onMouseDown='this.target="_new"'>Valid?</a>
       </div>
</div>