<?xml version="1.0" encoding="iso-8859-1"?>
<modules>
    <module name='simple-blog'>
        <specification>
            <description>
                <name>Simple Blog</name>
                <version>1.0</version>
                <short>Blog</short>
                <long><![CDATA[Simple Blog System]]></long>
            </description>

            <components>
                <element name='sbs-feedload' render='sbs_feedload' src='sbs_feedload' />
            </components>

            <program>
                <extension name="simple-blog" type="page" src="php:sbs_page" />
            </program>
        </specification>

        <header name='og:type' type='meta' content='website' />

<meta property="og:type" content="website" />
<meta property="og:site_name" content="IHOP Network" />
<meta property="og:title" content="Blog" />
<meta property="og:url" content="http://www.ihopnetwork.com/index.php/blog" />
<meta property="og:description" content="Articles on IHOPNetwork, generally relating to prayer, the prophetic, or some other prayer-related topic." />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="http://www.ihopnetwork.com/wp-content/plugins/hopdb/images/usmap.gif" />
<meta property="og:image:type" content="image/gif" />


        <file id='sbs' type='php' src='sbs.php' mode='startup' />
        <file id='sbs_feedload' type='php' src='sbs_feedload.php' mode='startup' />

        <file id="sbs-css" type="css" src="css/sbs.css" mode='startup'/>

        <api name='sbs-load-feed' loc='/feed/load' type='rest' method='GET' target='sbs_feedload::load_feed' />

        <zobjectdef name="sbs-post-list" key-field="id" index="postid" allow-display="[!]" source='sbst-post'>
            <style>
                <caption>Post</caption>
                <class>sbs-post</class>
                <options addonlist="1" />
            </style>
            <render name="feed" type="display" src="templates/post-feed.xml" />
            <xmlfile src="php:sbs_data_file" list="/*/post/@postid" base="/*/post[@postid='@id']/" sort='postid' />
            <fielddefs>
                <fielddef id="postid" />
                <fielddef id="status" />
                <fielddef id="date" />
                <fielddef id="author" />
                <fielddef id="title" />
                <fielddef id="slug" />
                <fielddef id="tags" />
            </fielddefs>
        </zobjectdef>

        <zobjectdef name="sbs-post" key-field="id" index="postid" allow-display="[!]" source='sbst-post'>
            <style>
                <caption>Post</caption>
                <class>sbs-post</class>
                <options addonlist="1" />
            </style>
            <render name="post" type="display" src="templates/post-display.xml" />
            <xmlfile src="php:sbs_data_file" list="/*/post/@postid" base="/*/post[@postid='@id']/" sort='postid' />
            <fielddefs>
                <fielddef id="postid" />
                <fielddef id="status" />
                <fielddef id="date" />
                <fielddef id="author" />
                <fielddef id="title" />
                <fielddef id="tags" />
                <fielddef id="body" />
            </fielddefs>
        </zobjectdef>

        <zobjectdef name="sbs-comment" key-field="id" index="postid" allow-display="[!]" source='sbst-post'>
            <style>
                <caption>Comment</caption>
                <class>sbs-post</class>
                <options addonlist="1" />
            </style>
            <xmlfile src="php:sbs_data_file" list="/*/post/@postid" base="/*/post[@postid='@id']/" sort='date' />
            <fielddefs>
                <fielddef id="commentid" />
                <fielddef id="postid" />
                <fielddef id="date" />
                <fielddef id="author" />
                <fielddef id="title" />
                <fielddef id="tags" />
                <fielddef id="comment-text" />
                <fielddef id="body" />
            </fielddefs>
        </zobjectdef>

        <ztabledef name='sbst-post' index='postid'>
            <fielddefs>
                <fielddef id="postid" datatype="sbs-id" access="@" required="1" allow-edit="[-]" allow-create="[-]" />
                <fielddef id="status" datatype="sbs-post-status" access="@" />
                <fielddef id="date" datatype="datetime" access='@' />
                <fielddef id="author" datatype="string" access='@'/>
                <fielddef id="title" datatype="string" required="1" access='@' />
                <fielddef id="tags" datatype="string" />
                <fielddef id="body" datatype="sbs-post-body" />
                <fielddef id="slug" datatype="string" getter='php:sbs_slug_from_id' />
                <fielddef id="commentcount" datatype="number" />
            </fielddefs>
        </ztabledef>

        <ztabledef name='sbst-comment' index='commentid'>
            <fielddefs>
                <fielddef id="commentid" datatype="string" access="@" required="1" allow-edit="[-]" allow-create="[-]" />
                <fielddef id="postid" datatype="sbs-id" access='@' />
                <fielddef id="refid" datatype="sbs-id" access='@' />
                <fielddef id="date" datatype="string" access='@' />
                <fielddef id="author" datatype="string" access='@' />
                <fielddef id="body" datatype="sbs-post-comment" />
            </fielddefs>
        </ztabledef>

        <typedef name="sbs-id" db-type="uuid"  />
        <typedef name="sbs-post-status" html-type="select" db-type="varchar" maxlength="30" source="draft|review|private|published|deleted|recycle" />
        <typedef name="sbs-post-body" html-type="select" db-type="memo" getter="php:sbs_blog_post_get" setter="php:sbs_blog_post_set" format='php:zobject_format::markdownToHtml' output-html='yes' />
        <typedef name="sbs-post-comment" html-type="select" db-type="memo" getter="php:sbs_blog_comment_get" setter="php:sbs_blog_comment_set" format='php:zobject_format::markdownToHtml'/>
    </module>
</modules>